@font-face {
  font-family: Gothic; /* Гарнитура шрифта */
  src: local(GOTHIC), url(fonts/GOTHIC.TTF); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: GothicI; /* Гарнитура шрифта */
  src: local(GOTHICI), url(fonts/GOTHICI.TTF); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: GothicB; /* Гарнитура шрифта */
  src: local(GOTHICB), url(fonts/GOTHICB.TTF); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: GothicBI; /* Гарнитура шрифта */
  src: local(GOTHICBI), url(fonts/GOTHICBI.TTF); /* Путь к файлу со шрифтом */
}

* {
  margin: 0;
  padding: 0;
  font-family: Gothic, Verdana, Arial, Helvetica, sans-serif;
  color: #4e5768;
}

p,
div,
a,
strong,
b,
i {
  font-size: 13px;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-family: GothicB, Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.full_page_wrap {
  max-width: 768px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #43aee6;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

body {
  background-image: url("https://f-change.biz/img/backs/body_back.png");
}

/* body > .full_page_wrap {
  height: auto;
  min-height: 100%;
} */
.full_page {
  padding-bottom: 177px;
  margin: 0 auto;
} /* must be same height as the footer */
#footer {
  position: relative;
  margin-top: -177px; /* negative value of footer height */
  height: 177px;
  clear: both;
}

/* CLEAR FIX*/
/* .clearfix:after {
  content: ".";
  
  height: 0;
  clear: both;
  visibility: hidden;
} */
/* .clearfix {
  display: inline-block;
} */

/* Hides from IE-mac \*/
/* * html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
} */
/* End hide from IE-mac */

.arial_font {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.header {
  max-width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
}

.site_logo {
  background-image: url("https://f-change.biz/img/buttons/logo.png") repeat
    scroll 0 0 rgba(0, 0, 0, 0);
  width: 302px;
  height: 46px;
}

.head_info_wrap .head_contacts {
  color: #43aee6;
  font-size: 16px;
  padding-top: 29px;
  text-align: center;
  width: 440px;
}
.head_info_wrap .head_contacts a {
  font-size: 16px;
  height: 25px;
  /*margin-top: 7px;*/
}
.head_phone_link {
  background: rgba(0, 0, 0, 0)
    url("https://f-change.biz/img/buttons/head_phone_btn.png") no-repeat scroll
    1px -1px;
  color: #43aee6;

  font-size: 16px;
  height: 25px;
  line-height: 23px;
  padding-left: 30px;
}
a.head_skype_link {
  background: url("https://f-change.biz/img/buttons/skype_btn.png") no-repeat
    scroll 0 0 rgba(0, 0, 0, 0);
  padding-left: 30px;
}

a.head_mail_link {
  background: url("https://f-change.biz/img/buttons/mail_btn.png") no-repeat
    scroll 0 0 rgba(0, 0, 0, 0);
  margin-left: 10px;
  padding-left: 31px;
}

.head_info_wrap .head_contacts a:hover {
}

.head_info_wrap {
}

.head_contacts {
}

.head_login {
  padding-right: 40px;
  width: 270px;
}

.head_login .vertical_line {
  background-color: #c0e1ee;
  height: 75px;
  margin-bottom: 10px;
  margin-right: 50px;
  margin-top: 38px;
  width: 1px;
}

.head_login h6 {
  font-size: 11px;
  margin-bottom: 10px;
  margin-top: 6px;
  text-align: right;
}

.head_login input[type="text"],
.head_login input[type="password"] {
  background: url("https://f-change.biz/img/backs/input_text_back.png") repeat
    scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #68b9e8;
  height: 25px;
  margin-bottom: 2px;
  padding: 0 10px;
  width: 197px;
}
.fchange_button {
  background-color: #43aee6;
  border: 0 none;
  color: white;
  cursor: pointer;
  font-family: GothicB, Verdana, Arial, Helvetica, sans-serif;
  padding: 5px 20px 7px;
  text-align: center;
  transition: background-color 200ms ease-out 0s;
  -webkit-appearance: none;
}
.fchange_button:hover {
  text-decoration: underline;
}
input.fchange_button {
  height: 34px;
}

a.fchange_button {
  height: 18px;
}
.remember_register_link {
  line-height: 17px;
  padding-left: 0;
  width: 125px;
}

.remember_register_link a {
  font-size: 14px;
}

.head_login_submit_wrap {
  padding-top: 5px;
}
