.obmen_stats_content_wrap {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site_table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
}
